<%- include('./partials/header') %>
    <div class="container bg-dark text-white messageBox">
        <% msg.forEach(msg=> {%>
            <div class="row text-success">
                <div class="col-lg">
                    <%= msg.name %>
                </div>
                <div class="col-lg-8">
                    <div class="alert alert-dark">
                        <%= msg.text %>
                    </div>
                </div>
                <div class="col-lg">
                    <%= msg.sent.toDateString() %>
                </div>
            </div>
            <% }); %>

    </div>

    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <form class="input-group stopForm">
            <input class="form-control mr-lg-2 bg-dark text-white text" type="search" placeholder="Type...."
                aria-label="Search">
            <button class="btn btn-success my-2 my-lg-0 send" type="submit">SEND</button>
        </form>
    </nav>

    <script src="js/ajax.js"></script>
    <%- include('./partials/footer') %>