<%- include('./partials/header') %>

<div class="message_box">
    <%   msg.forEach(msg => {%> 
        <p>
            <span class="user"><%= msg.name %>  :</span><br>
           <%= msg.text %> 
           <br><span class="time"><%= msg.sent/* .toDateString() */ %>  :</span>
            <hr>
        </p>
    <% }); %> 
       

</div>
<br>
<br id="now">
<form action="/" method="POST" class="sendmessage">
    <input type="text" name="text">
    <button>send</button>
</form>

<%- include('./partials/footer') %>