<%- include('./partials/header') %>
    <div class="container bg-dark text-white messageBox">
        <% msg.forEach(msg=> {%>
            <div class="row text-success">
                <div class="col-lg">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src=" <%= msg.uav %> " alt="" width="50px" style="border-radius: 45px;">
                        </div>
                        <div class="col-lg">
                            <b style="text-decoration:underline;">
                                <%= msg.name %>
                            </b> <br>
                            <%= msg.sent.toDateString() %>
                        </div>
                    </div>

                </div>
                <div class="col-lg-10">

                    <%= msg.text %>

                </div>

                <hr>
            </div>
            <% }); %>

    </div>

    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <form class="input-group stopForm">
            <input class="form-control mr-lg-2 bg-dark text-white text" type="search" placeholder="Type...."
                aria-label="Search">
            <button class="btn btn-success my-2 my-lg-0 send" type="submit">SEND</button>
        </form>
    </nav>
    <script src="js/anonim.js"></script>
    <script src="js/ajax.js"></script>
    <%- include('./partials/footer') %>