<%- include('./partials/header') %>
    <div class="container bg-dark text-white messageBox">
        <% msg.forEach(msg=> {%>
            <div class="row text-success">
                <div class="col-lg">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe2G-lhcGnbNyhYvLbLTyIh88B1_WFAJCz5w&usqp=CAU"
                        alt="" width="50px" style="border-radius: 45px;">
                    <%= msg.name %> <br>
                        <%= msg.sent.toDateString() %>

                </div>
                <div class="col-lg-8">

                    <%= msg.text %>

                </div>
                <div class="col-lg">

                </div>
                <hr>
            </div>
            <% }); %>

    </div>

    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <form class="input-group stopForm">
            <input class="form-control mr-lg-2 bg-dark text-white text" type="search" placeholder="Type...."
                aria-label="Search">
            <button class="btn btn-success my-2 my-lg-0 send" type="submit">SEND</button>
        </form>
    </nav>
    <script src="js/anonim.js"></script>
    <script src="js/ajax.js"></script>
    <%- include('./partials/footer') %>