<%- include('./partials/header') %>

<div class="messageBox">
    <!-- -->
    <%   msg.forEach(msg => {%> 
        <p>
            <a class="user" href="#"><%= msg.name %>  :</a><br>
           <%= msg.text %> 
           <br><span class="time" style="font-size: 11px;"><%= msg.sent/* .toDateString() */ %>  </span>
            <hr>
        </p>
    <% }); %> 
       

</div>
<hr id="now">
<!--
<form  action="/" method="POST" class="sendmessage" >
    <input type="text" name="text" class="text">
    <button>send</button>
</form> -->
<form action="" class="stopForm">
<input type="text" name="text" class="text">
<button class="send">SEND</button>
</form>
<br><br>
<script src="js/ajax.js"></script>
<%- include('./partials/footer') %>